<div class="sticky-top" style="background-color: white">
  {{!-- That top part if we plan to add something --}}
  <div style="background-color:#d4af37; color:#FFFFFF; height: 20px;">
  </div>

  {{!-- Top Half --}}
  <div class="d-flex flex-wrap container my-3">

    {{!-- Logo thing --}}
    <a class="col-sm-12 col-md-2 supercenter" style="padding: 0px;" href="/">
      {{!-- <h1 class="my-auto" style="font-size:40px; color:#d4af37;" >
        FURNVIO
      </h1> --}}
			<img class="logo w-100" src="/img/FURNVIOLOGO.png">
    </a>

    {{!-- Search --}}
    {{!-- https://teamtreehouse.com/community/changing-javascript-for-different-screen-sizes --}}
    <form id="searchbarForm" class="m-auto d-flex col-sm-12 col-md-8" autocomplete="off" action="/furniture/search"method="GET" >

      <div class="autocomplete col-10" id="autoComplete">
        <input required class="form-control" id="searchInput" type="text" name="searchInput" placeholder="Search here" style="border: 1px solid #e6a3a9ff;" value="{{#if searchInputEnter}}{{searchInputEnter}}{{/if}}">
        <div class="search-div" id="search-div" style="display: none">

          <div class="d-flex" style="flex-flow: row wrap">
            
            <div class="col-sm-12 col-md-6 px-0">
              <div class="search-header" id="search-theme-header"> {{!-- Header 'Themes' --}}
                <strong>Themes</strong>
              </div>

              <div class="search-items" id="search-theme-items">
                
              </div>
            </div>

            <div class="col-sm-12 col-md-6 px-0">
              <div class="search-header" id="search-category-header"> {{!-- Header 'Categories' --}}
                <strong>Categories</strong>
              </div>

              <div class="search-items" id="search-category-items">
                
              </div>
            </div>
          </div>

          <div class="search-header" id="search-products-header"> {{!-- Header 'Products' --}}
            <strong>Products</strong>
          </div>

          <div class="search-items" id="search-products-items">
            
          </div>

          {{!-- Footer --}}
          <div class="search-footer" id="search-footer">
            <a id="search-seeAll" class="search-seeAll" href="javascript:$('#searchbarForm').submit();">See all () results matching 'a'</a>
          </div>

        </div>
      </div>

      <button class="btn text-white btn-rounded btn-sm my-0 col-2 supercenter" id="searchButton" type="submit"><i class="fas fa-search" style="color:#d4af37"></i></button>

    </form>
    
    {{!-- Profile --}}
    <div id="profile1" class="d-flex row-wrap col-sm-12 col-md-2 p-0">
      <a href="/cart" class="nav-link col-sm-4 col-md-4 supercenter"><i id="fa-shopping-cart" class="fas fa-shopping-cart"></i></a>
      {{#if user}}
      <div class="m-auto col-sm-8 col-md-8" id="profile-dropdown">

        <button class="dropbtn dropdown-toggle" id="profile-dropdown-btn">Account</button>
        <div id="profile-dropdown-content">
          <a href="/user/profile" class="nav-link">Profile</a>
          <a href="/user/myorders" class="nav-link">My Orders</a>
          <a href="/logout" class="nav-link">Logout</a>
        </div>

      </div>
      {{else}}
      <div class="m-auto col-sm-8 col-md-8" id="profile-dropdown">
        <button class="dropbtn dropdown-toggle" id="profile-dropdown-btn">Account</button>
        <div id="profile-dropdown-content">
          <a href="/user/login" class="nav-link">Login</a>
          <a href="/user/register" class="nav-link">Register</a>
        </div>
      </div>
      {{/if}}
    </div>

  </div>

  {{!-- WINDOWS NAVBAR --}}
  {{!-- Bottom Half --}}
  <nav id="windowsNav" class="navbar navbar-expand-lg navbar-light border" style="padding:0px;">
    <div class="container">
      <ul class="navbar-nav navbar-contents">
        {{!-- Item 1 --}}
        {{!-- <li class="nav-item">
            <a class="nav-link" href="/furniture/listFurniture">Furniture</a>
        </li> --}} 

        {{!-- Item 2 --}}
        <li class="nav-item m-auto">
            <a class="nav-link" href="/about">About</a>
        </li>

        {{!-- Item 3 --}}
        <li class="nav-item m-auto dropdown" id="feedback-dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="feedback-dropdown-btn">Feedback</a>
        </li>

        <li class="nav-item m-auto">
          <a class="nav-link" href="/furniture/themes">Themes</a>
        </li>

        <li class="nav-item m-auto">
          <a class="nav-link" href="/furniture/categories">Categories</a>
        </li>
        
        {{!-- Item 6 --}}
        {{#if user.admin}}
        <li class="nav-item m-auto dropdown" id="admin-function-dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="admin-function-dropdown-btn">Admin Functions</a>
        </li>
        {{/if}} 
        
      </ul>

      {{!-- <li class="nav-item m-auto">
          <a href="/alertTest" class="nav-link">Alert Test</a>
      </li>

      <li class="nav-item m-auto">
        <form action="/pay"  method='post'>
          <button class="btn" style="padding: 0px;" type="submit">Paypal button</button>
        </form>
      </li> --}}

      {{!-- <li class="nav-item m-auto dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Video Jots (Click me because im lazy)</a>
        <ul class="dropdown-menu">
          <a href="/video/listVideos" class="dropdown-item">Videos</a>
          <a href="/video/showAddVideo" class="dropdown-item">Add Video</a>
        </ul> 
      </li> --}}
    
    </div>
  </nav>
  {{!-- Bottom, bottom nav --}}
  <div class="container">
    {{!-- Feedback --}}
    <div id="feedback-dropdown-content">
      <div class="row">
        <a href="/feedback">Submit Feedback</a>
        <a href="/feedback/userfeedback">My Feedbacks</a>
        <a href="/feedback/featuredFeedback">Common Feedbacks</a>
      </div>
    </div>

    <div id="themes-dropdown-content">
      <div class="row container py-3">
        <a href="/furniture/themes">Themes</a>
        {{!-- do some javascript here to display some? --}}
      </div>
    </div>

    <div id="categories-dropdown-content">
      <div class="row container py-3">
        <a href="/furniture/categories">Categories</a>
        {{!-- do some javascript here to display some? --}}
      </div>
    </div>

    <div id="admin-function-dropdown-content">
      <div class="row container">
        <div>
          <a href="/admin/listUsers">User List</a>
          <a href="/admin/discount">Discounts</a>
          <a href="/admin/retrieveorders">Retrieve Orders</a>
          <a href="#" id="admin-function-dropdown-content-furniture1">Furniture > </a>
          <a href="/feedback/rfeedback" >Retrieve Questions</a>   
          <a href = "/feedback/adminfeaturedFeedback">Featured Feedback</a>
        </div>
        <div class="w-75" id="admin-function-dropdown-content-furniture2">
          <a href="/admin/retrieveFurniture">Retrieve Furniture, Themes, Categories</a>
          <a href="/admin/addFurniture">Add Furniture</a>
          <a href="/admin/addTheme">Add Theme</a>
          <a href="/admin/addCategory">Add Category</a>
        </div>
      </div>  
       
    </div>
  </div>
  {{!-- WINDOWS NAVBAR --}}

  {{!-- PHONE NAVBAR --}}
  <nav id="phoneNav" class="navbar navbar-expand-lg navbar-light border-top border-bottom container-fluid" style="display: none">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <hr>
      <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0 container-fluid">

        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Feedback
          </a>
          <div id="navbarDropdown1" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/feedback">Submit Feedback</a>
            <a class="dropdown-item" href="/feedback/userfeedback">My Feedbacks</a>
            <a class="dropdown-item" href="/feedback/featuredFeedback">Common Feedbacks</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/furniture/themes">Themes</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/furniture/categories">Categories</a>
        </li>


        {{#if user.admin}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin Functions
          </a>
          <div id="navbarDropdown2" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/admin/listUsers">User List</a>
            <br>
            <a class="dropdown-item" href="/admin/discount">Discounts</a>
            <br>
            <a class="dropdown-item" href="/admin/addFurniture">Add Furniture</a>
            <br>
            <a class="dropdown-item" href="/admin/retrieveFurniture">Retrieve Furniture</a>
            <a class="dropdown-item" href="/feedback/rfeedback" >Retrieve Questions</a>   
            <a class="dropdown-item" href = "/feedback/adminfeaturedFeedback">Featured Feedback</a>
          </div>
        </li>
        {{/if}} 

      </ul>
    </div>
  </nav>
  {{!-- PHONE NAVBAR --}}

</div>

