<h1>About</h1>
<p>This is a Node/Express app on a furniture store, BRANDNAME, made by</p>
<ul>
    <li>Jun Leng</li>
    <li>Trillium Tay</li>
    <li>Vajon Lim</li>
    <li>Zi Ming</li>
</ul>
<p>Version: 1.0.1</p>
