<div style="height:5000px">
  <p style="height: 4000px;"></p>
  <div id="Themes">
    <label class="btn btn-yellow btn-sm" id="Monochrome">
        <input type="checkbox" name="Monochrome"> Monochrome
    </label>
    <label class="btn btn-yellow btn-sm" id="Wood">
        <input type="checkbox" name="Wood"> Wood
    </label>
  </div>
  <div class="btn" onclick="refreshPage()">Click to refresh</div>
</div>
    {{!-- console.log(GetURLParameter("random")) --}}
<script>
  function refreshPage(){
    //OBJECTIVE: GET COOKIES FOR THEME AND CATEGORIES TO INSERT IN
    //select div containing themes and get al id of child nodes that has active
    var themes = []
    $("#Themes").children("label").map(function(){
      if ($(this).children(':checkbox').prop("checked") == true){
        themes.push($(this).attr('id'))
      }
    });
    
    var categories = []
    $("#Categories").children("label").map(function(){
      if ($(this).children(':checkbox').prop("checked") == true){
        categories.push($(this).attr('id'))
      }
    });

    //CREATE object of {theme: [monochrome, wood], category: [wood]}
    var themeAndCategories = {"themes": themes, "categories": categories};

    //Set cookie for page reload to save y-axis
    var page_y = document.documentElement.scrollTop || document.body.scrollTop;
    document.cookie = "page_y="+page_y.toString()+";max-age=60;domain=;path=/"
    //CONVERT object to url using var queries = $.param(sear1ched)
    window.location.replace( window.location.origin+ "/test2/?" + $.param(themeAndCategories) ); //return page with cookie
  }

  //Reload on proper y-axis on page load
  window.onload = function () {
    var page_y_cookie = getCookie("page_y") //function in main.js, cookie is page y value
    if ( page_y_cookie ) {
      document.cookie = "page_y=0;expires=Thu, 01 Jan 1970 00:00:00;domain=;path=/" //set cookie to none
      document.documentElement.scrollTop = document.body.scrollTop = page_y_cookie; //set page y to cookie y
    }
  }
</script>