<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<h3 class="text-center mb-4">Account Login</h3>
			<form method="post" action=""> 
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control mb-2" required>
					<a class="font-weight-bold underlineHover" style="font-size: 14px;color:black" href="/user/forgotPassword">Forgot password?</a>
				</div>
				<div class="d-flex mt-3">
					<a class="py-3 underlineHover" style="font-size: 15px;color:black" href="/user/register">Create Account</a>
					<button type="submit" class="btn btn-yellow ml-auto">Submit</button>
				</div>
				<a href="/auth/google">Sign In with Google</a>

			</form>
			
		</div>
	</div>
</div>
