<style>
    td {
        max-width: 200px;
    }
</style>
<h1 class="display-4">My Orders</h1>
<div>
    <table class="table table-striped" id="MyTable">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Total Price</th>
                <th>Order Status</th>
                <th>Order</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <td>{{ id }}</td>
                <td>S${{numberFormat totalPrice}}</td>
                <td>{{ orderStatus }}</td>
                <td><a href="/user/myorders/{{id}}">Click Here For Order Info</a></td>
                {{!-- <td><a href="/" class="btn p-3 mb-2 bg-success text-white pull-right">Rate</a></td> --}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>