<style>
    td {
        max-width: 200px;
    }
</style>

<h1>Featured Questions</h1>
<br>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Feedback Type</th>
                <th>Feedback</th>
                <th>Answer</th>
                <th>Unfeature Feedback</th>
            </tr>
        </thead>
        <tbody>
            {{#each feedbacks}}
            <tr>
                <td>{{ feedbacktype }}</td>
                <td>{{ feedback }}</td>
                <td>{{ answer }}</td>
                <td>
                    <a href="/feedback/unfeatureFeedback/{{id}}" class="card-link">
                        <i class="fas fa-trash"></i>
                        Unfeature Feedback
                    </a>
                </td>

             </tr>
             {{/each}}
        </tbody>
    </table>
</div>