<style>
    td {
        max-width: 200px;
    }


</style>
<h1 class="display-4">Question List</h1>
<div>
    <table class="table table-striped" id="MyTable">
        <thead>
            <tr>
                <th>Feedback Type</th>
                <th>Feedback</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            {{#each feedbacks}}
            <tr>
                <td>{{ feedbacktype }}</td>
                <td>{{ feedback }}</td>
                <td>
                    <div>
                        {{ answer }}
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>